@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-thumb: #d4d4d8;
}

.dark {
  --scrollbar-thumb: #27272a;
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 3px;
  }
}
